{% extends "layout.html" %}

{% block content %}
<form method="post" class="form-horizontal">
    <div class="form-group row">
        <label class="control-label col-sm-3" for="username">username</label>
        <div class="col-sm-9">
            <input type="text" name="username" placeholder="Enter Username"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="password">password</label>
        <div class="col-sm-9">
            <input type="password" name="password" placeholder="Enter Password"><br>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" value="Login" class="form-control btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}
