{% extends "layout.html" %}

{% block title %}Login Page{% endblock %}
{% block heading %}Login Page{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
    <div class="form-group row">
        <label class="control-label col-sm-3" for="username">Username</label>
        <div class="col-sm-19">
            <input type="text" name="username" placeholder="Enter username"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="rollnumber">RollNumber</label>
        <div class="col-sm-19">
            <input type="text" name="rollnumber" placeholder="Enter Roll Number"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="firstname">Firstname</label>
        <div class="col-sm-19">
            <input type="text" name="firstname" placeholder="Enter Firstname"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="lastname">Lastname</label>
        <div class="col-sm-19">
            <input type="text" name="lastname" placeholder="Enter Lastname"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="password">Password</label>
        <div class="col-sm-19">
            <input type="password" name="password" placeholder="Enter password"><br>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="phonenumber">Phone Number</label>
        <div class="col-sm-19">
            <input type="text" name="phonenumber" placeholder="Enter Phone Number"><br>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" value="Login" class="form-control btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}
