{% extends "layout.html" %}

{% block content %}

{% if logged_in == False %}

<div class="container-fluid">
	<div class="row">
		{% for product in req %}
		<!-- <div class="col-sm-12 col-md-6 col-lg-4">{{product.ProductName}}</div> -->
		<div class="col-sm-12 col-md-6 col-lg-4">
			<strong>{{product.ProductId}}. {{product.ProductName}}</strong>
			<br>
			Product Name: {{product.ProductName}}
			<br>
			Price: {{product.ProductPrice}}
			<br>
			<a href="{{url_for('addorder', pid=product.ProductId)}}" class="btn btn-info" role="button">Make Request</a>
		</div>

		{% endfor %}	
	</div>
</div>

{% else %}
<script>
	prev = -1;
</script>


<div class="container-fluid">
	<div class="row" id="product-status">
		{% for order in req %}
		{% for product in products %}
		{% if product.ProductId == order.OrderId %}
		<div class="col-sm-12 col-md-6 col-lg-4">
			<strong>{{order.OrderId}}. {{product.ProductName}}</strong>
			<br>
			Quantity: {{order.Quantity}}
			<br>
			Status: {{order.Status}}
			<br>
			<!-- <a href="{{url_for('addorder', pid=product.ProductId)}}" class="btn btn-info" role="button">Make Request</a> -->
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>
<script>
	setInterval($.get( "{{url_for('getvenorders',VendorId=vendor.VendorId)}}", function( data ) {
		data = Number(data);
		if(data != localStorage.setItem("prev"))
		{
			
			prev = data;
			localStorage.setItem("prev", data);
			location.reload(true);
		}
		else
		{
			location.reload(false);
		}
}) , 10000);
</script>

{% endif %}

{% endblock %}
