{% extends "layout.html" %}

{% block content %}

{% if logged_in == False %}

<div class="container-fluid">
	<div class="row">
		{% for product in req %}
		<!-- <div class="col-sm-12 col-md-6 col-lg-4">{{product.ProductName}}</div> -->
		<div class="col-sm-12 col-md-6 col-lg-4">
			<strong>{{product.ProductId}}. {{product.ProductName}}</strong>
			<br>
			Product Name: {{product.ProductName}}
			<br>
			Price: {{product.ProductPrice}}
			<br>
			<a href="{{url_for('addorder', pid=product.ProductId)}}" class="btn btn-info" role="button">Make Request</a>
		</div>

		{% endfor %}	
	</div>
</div>

{% else %}

<div class="container-fluid">
	<div class="row">
		{% for order in req %}
		{% for product in products %}
		{% if product.ProductId == order.OrderId %}
		<div class="col-sm-12 col-md-6 col-lg-4">
			<strong>{{order.OrderId}}. {{product.ProductName}}</strong>
			<br>
			Quantity: {{order.Quantity}}
			<br>
			Status: {{order.Status}}
			{% if order.Status=='pending' %}
			<br><a role = "button" class="btn btn-info" href="{{url_for('change_state_accept',pid = order.OrderId)}}">
				Accept
			</a>
			<a role="button" class="btn btn-info" href="{{url_for('change_state_reject',pid = order.OrderId)}}">
				Reject
			</a>

			{% endif %}
			<br>
			<!-- <a href="{{url_for('addorder', pid=product.ProductId)}}" class="btn btn-info" role="button">Make Request</a> -->
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>

{% endif %}

{% endblock %}
